a.navbar-item, .navbar-link{
    margin-left: 1rem;
    font-family: Bahnschrift;

}nav .navbar-end{
        font-family: Bahnschrift;
}
nav .navbar-menu{

    border-top: 20px;
}
nav .navbar-menu{
    margin-left: 5%;

}nav {
    height: 87px;

}
nav{
    height: 80px;

}.img{
    min-height: 87px;
    background-color: darkblue;
}
a.navbar-item{
    color: rgb(255, 181, 131);
}a.navbar-item:hover{
    color:  rgb(204, 127, 76);
}
.button.navbar-item{
    width: 150px;
    border:none;
    opacity: 80%;
    color: white;
    background-color: rgb(134, 134, 134);
}.button.navbar-item:hover{
    transition: all .1s;


}.navbar{
    font-family: NotoSans-Bold;
}

/* ไตเติ้ล */

.for {
    font-size: 200%;
    font-family: FORTE;
    min-width: 200px;
    
}

.checkbox {
    font-family: Bahnschrift;
}

/* สไตล์box */

.box {
    background-color: rgb(246, 228, 211); 
    padding: 1.6rem;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 20%);

}

div .home_img{
    position: relative;
    height: 650px;
    width: 100%;
    transform:scale(1.1);
    background: url('../src/assets/img/coffee.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    filter: blur(8px);
}


.home_title h1{
    position: absolute;
    text-shadow: 2px 2px 4px #999999;
    color: white;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 8rem;
    font-family: FORTE;
    transition: all 3s;

}.home_title h1:hover{
    font-size: 9rem;
}

.birthday {
    font-family: Bahnschrift;
}

#birthday {
    font-family: Bahnschrift;
    background-color: rgb(146, 104, 26);
    color: rgb(255, 255, 255);
    
    border-radius: 100cm;
    border-color: rgb(255, 255, 255);
    padding: 0.20em 0.5em;
    font-size: 1rem;
}

.sex {
    font-family: Bahnschrift;
}

#sex {
    font-family: Bahnschrift;
    background-color: rgb(146, 104, 26);
    color: rgb(255, 255, 255);
    width: 100%;
    border-color: rgb(255, 255, 255);
    border-radius: 100cm;
    padding: 0.45em 0.5em;
    font-size: 1rem;
    color:  rgb(121, 58, 24);
    text-shadow: 2px 2px 4px #f0f0f0;
}
.Baskets{
    float: left;
    position: absolute;
    left: 90%; 
    top: 10%; 
    transform: translate(-50%, -50%);
    text-align: center;
}.Baskets span{
    font-size: 1.5rem;

    
    font-family: Bahnschrift;
}div.pro_img{
    position: relative;
    height: 650px;
    width: 100%;
    transform:scale(1.2);
    background: url('../src/assets/img/coffee.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    filter: blur(8px);
}

.br{
    font-family: Bahnschrift;
}
