a.navbar-item, .navbar-link{
    margin-left: 1rem;
    font-family: Bahnschrift;
}nav .navbar-end{
        font-family: Bahnschrift;
}
nav .navbar-menu{
    border-top: 20px;
}
nav .navbar-menu{
    margin-left: 5%;
}
nav{
    height: 87px;
}.img{
    min-height: 87px;
    background-color: darkblue;
}
a.navbar-item{
    color: rgb(255, 181, 131);
}a.navbar-item:hover{
    color:  rgb(255, 171, 116);
}
.button.navbar-item{
    width: 150px;
    border:none;
    opacity: 80%;
    color: white;
    background-color: rgb(134, 134, 134);
}.button.navbar-item:hover{
    transition: all .1s;
    width: 160px;
}.home_title{

    font-size: 8rem;
    font-family: FORTE;
    height: 750px;
    width: 100%;
    background: url('../src/assets/img/groundwork-los-angeles-coffee-shops.jpg') no-repeat;
    background-size: cover;

}.home_title h1{
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
}